/* Style général */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1a1a;
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.header .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header .nav a:hover,
.header .logo:hover {
    color: #470909;
}

.header .connexion .login-link {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.header .connexion .login-link:hover {
    color: #410404;
}

/* Section principale */
.main-content {
    text-align: center;
}

.hero {
    padding: 30px 20px;
    background-color: #1a1a1a;
}

.hero h1 { 
    color: #ccc;
    font-size: 28px;
    margin-bottom: 20px;
}

.hero-image {
    background-color: #333;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.hero-image p {
    font-size: 14px;
    color: #ccc;
}

/* Cartes de destinations */
.destinations {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.destination-card {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.destination-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.destination-card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.destination-card button {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.destination-card button:hover {
    background-color: #333;
}

/* Section Poster */
.poster {
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #121212;
}
.hero img {
    max-width: 230px; /* Limite la taille de l'image */
    width: 100%; /* Occupe toute la largeur disponible */
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

